

.mainContainer{
    background-color:  rgb(10, 33, 40);

     width: 100vw;
    height: 100vh;
    
}
.animation_layer.parallax {
  position: fixed;
  top: auto;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.animation_layer.parallax.sky{
  transform: translateY(1%) scale(1.1);
  
}
.animation_layer.parallax.mountain{
  transform: scale(1.1);
  
}
.animation_layer.parallax.snow{
  transform: translateY(-25%) ;
  
}
#mountain1   {
  background-image: url(./img/mountain1.png);
}
#mountain2   {
    background-image: url(./img/mountain2.png);
  }

  #snow   {
    background-image: url(./img/mist-1932.png);
  }
  h1 span{
    color: black; /* Set the color of the text */
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
    font-family: 'Open Sans' ,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  .aboutContainer{
    display: flex;
    background-color: rgb(10, 33, 40);
    height: 100%;
    width: auto;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 750px) {
    h1 {
      margin: 20px auto;
      display: flex;
      align-items: center;
      justify-content:center;
      padding-bottom: 20rem;
      font-size: 25px;
    }
 
  }
  